@use '/src/styles/constants/colors';

.container {
  margin-top: 50px;

  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .message {
      line-height: 1.3;

      .lower {
        color: colors.$RED;
        background: colors.$WHITE;
      }

      .higher {
        color: colors.$BLUE;
        background: colors.$WHITE;
      }
    }

    .percent {
      font-weight: 700;
      background-image: linear-gradient(#ffffff 50%, #ffd300 0%);
    }
  }
}
