@use '/src/styles/constants/colors';

.tagContainer {
  width: 120px;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  color: #595959;
  text-align: center;
  border-radius: 10px;

  &.highlightTag {
    background-color: rgb(255, 172, 156);
  }

  &.normalTag {
    background-color: rgb(220, 220, 220);
  }

  // & + & {
  //   margin-left: 5px;
  // }
}
