@use '/src/styles/constants/colors';

.predictionCost {
  display: flex;
  flex-direction: column;
  color: colors.$MAIN_FONT;

  .description {
    line-height: 1.5;
  }

  .highlight {
    display: inline-block;
    padding-bottom: 0.5em;
    font-weight: 900;
    line-height: 0.5;
    background-color: colors.$MARK_HIGHLIGHT;
    border-radius: 8px;
  }

  .over {
    color: colors.$RED;
  }

  .under {
    color: colors.$BLUE;
  }
}
