@use '/src/styles/constants/colors';

* {
  padding: 0;
}

.totalChartwrapper {
  margin: 0  16px;

  h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;

    mark {
      color: colors.$RED;
      background-color: transparent;
    }
  }
}
