@use '/src/styles/constants/colors';

$COLORS: (1: #3cce3c, 2: #c63de8, 3: #738dfc, 4: #529afc,5: #c63de8, 6: #ffb850, 7: #f9b4b4, 8: #75d3c7,);

@each $key, $color in $COLORS {
  .cardSection .cardContainer:nth-child(#{$key}) h2 {
    color: $color;
  }

  .cardSection .cardContainer:nth-child(#{$key}) h3 {
    color: $color;
  }
}

.cardContainer {
  width: 355px;
  padding: 30px;
  margin: 0 auto 40px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 12%), 0 1px 2px rgba(0, 0, 0, 24%);

  .cardIndex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      font-size: 30px;
      font-style: italic;
      font-weight: bold;
      color: colors.$TAG_TITLE;
    }
  }

  .cardHeader {
    h2 {
      font-size: 20px;
      font-weight: bold;
    }

    .cardDescription {
      margin: 15px 0;

      p {
        line-height: 25px;

        strong {
          font-weight: bold;
          color: colors.$GRAY3;
        }
        color: colors.$TITLE_BLACK;
      }
    }

    span {
      font-size: 12px;
      color: colors.$GRAYA;
    }
  }

  .cardTag {
    display: flex;
    padding: 30px 0 50px;
  }

  .cardContents {
    padding: 10px 0;
    border-top: 2px solid colors.$GRAYD;

    h3 {
      margin: 30px 0 0;
      font-weight: bold;
    }

    li {
      display: flex;
      margin: 20px 0;
      line-height: 20px;
      color: colors.$GRAY3;

      & > span {
        padding: 0 6px 0 0;
      }
    }
  }
}
